<!DOCTYPE html>
<html lang="es">
<head>
  <title>NFL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #013369;">
    <a class="navbar-brand" href="#">NFL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Secciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'home:equipoindex' %}">Equipos</a>
            <a class="dropdown-item" href="#">Sección 2</a>
            <a class="dropdown-item" href="#">Sección 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contactos</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-4">
    <h2>La NFL</h2>
    <p>La NFL (National Football League) es la mayor liga de fútbol americano profesional en los Estados Unidos. La NFL toma la figura de una asociación de sus 32 equipos y es la mayor liga deportiva del país.</p>
  </div>
  <footer class="footer bg-light text-left fixed-bottom p-4">
    <div class="container" id="contacto">
      <h2>Contacto</h2>
      <p><a href="https://www.linkedin.com">LinkedIn</a></p>
      <p><a href="https://discord.com">Discord</a></p>
      <p>Número de teléfono: (123) 456-7890</p>
      <p><a href="https://www.facebook.com">Facebook</a></p>
      <p><a href="https://gitlab.com">GitLab</a></p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>