{% extends 'base/equipoindex.html' %}

{% block content %}
  <h2>Ciudades con equipos</h2>
  <ul>
  {% for ciudad in ciudades %}
    <li>{{ ciudad.name }}</li>
  {% empty %}
    <li>No hay ciudades con equipos.</li>
  {% endfor %}
  </ul>
{% endblock %}
