{% extends 'base/equipoindex.html' %}
{% block title %} Equipos {% endblock title %}

{% block content %}
    <a href="{% url 'home:equipo_new' %}" class="btn btn-outline-info">Nuevo Equipo</a>
    
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Equipo</th>
            <th>Ciudad</th>
            <th>Estadio</th>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo.id_equipo }}</td>
                    <td>{{ equipo.name }}</td>
                    <td>{{ equipo.city }}</td>
                    <td>{{ equipo.stadium }}</td>
                    <td><a href="{% url 'home:equipo_detail' equipo.id_equipo %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'home:equipo_delete' equipo.id_equipo %}" class="btn btn-outline-danger">Delete</a></td>
                    <td><a href="{% url 'home:equipo_edit' equipo.id_equipo %}" class="btn btn-outline-warning">Update</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}